.root {
	position: relative;
  input {
    font-size: 16px;
    outline: none;
    padding: 12px 20px;
    width: 500px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
		padding-left: 45px;

		&:focus {
			border: 1px solid rgba(0, 0, 0, 0.3);
		}
  }
  .search {
    width: 24px;
    height: 22px;
    opacity: 0.4;
    position: absolute;
		left: 12px;
		top: 10px;
  }

	.cross {
		width: 28px;
		height: 28px;
		opacity: 0.3;
		position: absolute;
		left: 92%;
		top: 20%; 
		cursor: pointer;
	}

	@media (max-width: 520px) {
   input {
		width: 270px;
		&:focus {
			width: 300px;
		}
	 }
  }
}
